<h1>New User</h1>

<%= form_for(:user) do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name, class: 'form-control' %>
  <%= f.label :last_name %>
  <%= f.text_field :last_name, class: 'form-control' %>

  <%= f.label :password %>
  <%= f.password_field :password, class: 'form-control' %>
  <%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation, class: 'form-control' %>

  <%= f.label :user_type %>
  <div style="display:flex;"><%= f.radio_button :user_type, "student" %><%= f.label :student %></div>
  <div style="display:flex;"><%= f.radio_button :user_type, "pracownik" %><%= f.label :pracownik %></div>

  <%= f.label :user_index %>
  <%= f.text_field :user_index, class: 'form-control' %>

  <%= f.hidden_field :current_profile_id, :value => nil %>

  <%= f.submit "Sign up" %>
<% end %>

<%= link_to 'Back', current_user %>
