<p id="notice"><%= notice %></p>

<div class=user-show-grid>
  <div class="user-show-grid-info">
    <p>
      <strong>Id:</strong>
      <%= @user.id %>
    </p>

    <p>
      <strong>Name:</strong>
      <%= @user.name %>
    </p>

    <p>
      <strong>Last name:</strong>
      <%= @user.last_name %>
    </p>

    <p>
      <strong>User type:</strong>
      <%= @user.user_type %>
    </p>

    <p>
      <strong>User index:</strong>
      <%= @user.user_index %>
    </p>
  </div>
  <div class="user-show-grid-profiles">
    <h4>Twoje profile: </h4>
      <% @user.profiles.each do |profile| %>
        <%= link_to content_tag(:div, profile.name), users_profiles_path(:current_profile_id => profile.id), method: :patch %>
      <% end %>
      <% if profile_set? %>
      <div>
        Wybrany profil: <%= current_profile.name %>
      </div>
      <% else %>
      <div>
        Nie wybrano Profilu
      </div>
      <% end %>
      <div><%= link_to "Stwórz profil", users_profiles_new_path %></div>
  </div>
</div>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', root_path %> |
<%= link_to 'Profiles', users_profiles_path %>
