<h1>Witaj</h1>
<%= DateTime.current.to_date %>
<% if logged_in? %>
  <h1>Twoje posty</h1>
  <% current_user.profiles.each do |profile| %>
    <% profile.posts.each do |post| %>
    <div class="post-block">
      <h4><span class="post-title"><%= link_to post.title, post %></span> <span class="post-author"><%= profile.name %></span></h4>
      <div class="post-content"><%= post.content %></div>
      <p class="post-date"><%= post.post_date %></p>
    </div>
    <% end %>
  <% end %>
<% else %>
  Nie jesteś zalogowany.
<% end %>
